.sidebar-marines-primary {
    background-color: #7c891d !important;
    .nav-sidebar > .nav-item > .nav-link.active,
    .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
        background-color: #535c14;
        color: #a4ab83;
    }
}

.navbar-marines {
    background-color: #a6b727;
}

.btn-marines-primary {
    background-color: #a6b726;
    color: whitesmoke;
}

.btn-marines-edit {
    background-color: #408ab3;
    color: whitesmoke;
}

.btn-marines-delete {
    background-color: #e05225;
    color: whitesmoke;
}

thead {
    background-color: #a6b727;
    color: whitesmoke;
}

tbody tr {
    background-color: #e1e6cd;
}

.table-striped tbody tr:nth-of-type(2n + 1) {
    background-color: #f1f3e8;
}

.modal-header {
    background-color: #7c891d;
    color: white;
}

.card-header {
    background-color: #7c891d;
    color: white;
}

.modal-body {
    background-color: #e2eba0;
}

.card-body {
    background-color: #e2eba0;
}

.modal-footer {
    background-color: #e2eba0;
}

.form-control,
.form-control:focus:not(:disabled),
.custom-select {
    background-color: #f0f5d0;
}
